.grid {
    display:grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 500px 500px;
    gap: 0.5em;

}

.grid div {
    background: #ecf0f1;
    padding: 1em;
}

.grid div:hover {
    border: 1px solid #f1c40f
}

@media screen and (max-width: 800px){
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,360px);
        gap: 0.5em;
    
    }
}

@media screen and (max-width: 500px) and (max-height: 800px){
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,290px);
        gap: 0.5em;
    
    }
}